.nav {
    padding: 10pt;
}

.restaurants {
    float: left;
    padding: 20pt;
}

.foods {
    padding: 20pt;
}

.shop {
    display: grid;
    grid-auto-flow: column;
}

.login {
    left: 70vw;
}

.signup {
    left: 55vw;
}

.map-one{
	border: 1px solid black;
	width: 47%;
	float: left;
	height: 500px;
	padding: 10px;
	margin: 5px;
}